body{
    background-color: #fbfbfb;
}

/*start header*/
header{
    background-image: url('../assets/header-back.png');
    background-size:cover;
    height: 560px;
}

.navbar-nav{
    width: 100%;
}

.nav-item{
    margin-right: 20px;
}

.navlink{
    font-weight: bold;
    opacity: white;
    color: #fbfbfb;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.navlink:hover{
    color: #fbfbfb;
    background-color: #32b3c6;
    text-decoration: none;
    opacity: 0.8;
}

.navlink.active{
    background-color: #32b3c6;
    opacity: 0.8;
}




.nav-item{
    text-align: center;
}

/*end header*/

/*start goal block*/
.goal-text{
    width: 40%;
    font-family: Ink Free, cursive;/*Gabriola*/
    font-size: 70px;
    color: #00424b;
    text-align: center;
}

.goal-text .quotes{
    font-size: 140px;
    font-weight: bold;
    color: #00424b;
}

.goal-image{
    width: 400px;
    height: 400px;
}

/*end goal block*/


/*start motto block*/

.motto{
    background-image: url('../assets/motto-back.jpg');
    background-size: cover;
    margin-top: 140px;
}

.motto-items{
    width: 100%;
    margin: auto;
    min-height: 200px;
    color: #fbfbfb;
}

.motto-item .text{
    font-size: 50px;
}

.motto-item .icon{
    font-size: 120px;
    opacity: 0.9;
}

/*end motto block*/

/*start activities block*/
.activities-items{
    width: 80%;
    margin: auto;
    min-height: 200px;
    color: #fbfbfb;
}


.activities{
    margin-top: 150px;
}

.activities-item{
    border-radius: 15px;
    overflow:hidden;
    box-shadow: -7px 7px 0px 0px rgba(0, 0, 0, 0.01);
    transition-duration: 1s;
    /* transform:translate(0px,100px); */
    /* transform:scale(1,0.5); */
}

.activities-item:hover{
    border-radius: 15px;
    overflow:hidden;
    box-shadow: -7px 7px 0px 0px rgba(0, 0, 0, 0.05);
    /* transform:translate(0px,100px); */
    transform:scale(1.1,1.1);
    transition-duration: 1s;
}

.activity-text-zone{
    background-image: url('../assets/activity-base-back.png');
    background-size: cover;
    height:150px;
    width: 300px;
}

.activity-text-zone .title{
    font-size: 25px;
    opacity: 0.9;
}

.activity-image-zone{
    overflow: hidden;
    width: 300px;
}

/*end activities block*/

/*start team block*/

.team{
    padding-bottom: 100px;
    width: 100%;
    background-image: url('../assets/team-back.png');
    background-size:  cover;
    margin-top: 140px;
}

.team-item .team-item-text-zone{
    color: #fbfbfb;
    font-size: 25px;
    width: 250px;
    opacity: 0.9;
}

.team-item-image-zone{
    font-size: 200px;
    text-align: center;
    color: #02424b;
    height: 260px;
    opacity: 0.7;
}

/*end team block*/

/*start footer block*/

footer{
    height: 400px;
    width: 100%;
    background-color: #001013;
}


/*end footer block*/


/*sm*/
@media (max-width: 768px) { 
    /*start header*/
    #navbarCollapse{
        width: 100%;
        background-color: #056d7c;
        opacity: 0.6;
    }
    /*end header*/
    /*start goal block*/
    .goal-text{
        width: 100%;
        font-family: Ink Free, cursive;/*Gabriola*/
        font-size: 70px;
        color: #00424b;
        text-align: center;
    }
    /*end goal block*/
    /*start team block*/

    .team{
        width: 100%;
        padding-bottom: 100px;
        
        background-image: url('../assets/team-back-mobile.png');
        background-size:cover;
        margin-top: 140px;
    }

    /*end team block*/
}